/* Calculator Form Styles */

/* Calculator Slider Control Styles */

#slider-container {
  margin: 2% 0 8%;
}

#slider-labels {
   margin: 1% -3% -1% 30%;
}

/*div.slider-label {
  float: left;
  width: 25%;
  color: #2a2a2a;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}*/

/*div.slider-single-label {
  float: left;
  width: 32%;
  color: #2a2a2a;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}*/

div.slider-single-label:hover,
div.slider-label-hover {
  /*color: #454545;*/
}


div.slider-label:hover,
div.slider-label-hover {
  color: #454545;
}

div.slider-label-selected {
  color: #924847;
}

#slider-control-wrapper {
  margin: 2% 20% 0 25.5%;
}

#slider-control {
    border:0px;
    border-radius:0px;
    background:black;
    height:0.5em;
}

/* Calculator Results Styles */

span.strategy-label {
  color: #39B54A;
}

.strategy-container {
  display: none;
  /*padding: 25px;
  background: #F9F9F9;
  border: 1px solid #DDDDDD;
  border-width: 1px 0px;*/
}

.strategy-container p,
.strategy-container ul,
.strategy-container ol {
  color: #525352;
  line-height: 26px;
}

@media (max-width: 375px) {
    .fontsmall {
        font-size:15px;
    }
}

.bordertop {
    border-top:1.5px solid black;
}

.borderbottom {
    border-bottom:1.5px solid black;
}

.strategy-container h2 {
  color: #85312f;
  font-size:16px;
  font-weight:bold;
}

.strategy-container table {
  width: 100%;
  text-align: center;
}

.strategy-container table {
  width: 100%;
  margin: 30px 0px;
  border-left: 0px;
  border-right: 0px;
}

.strategy-container table th {
  padding: 5px;
  color: white;
  font-weight: normal;
  text-align: center;
	background: #8e8d8a;
  border: 0px;
  border-bottom: 1px solid #DDDDDD;
}

.strategy-container table td {
  padding: 15px 5px;
  color: #525352;
  border: 0px;
  /*border-bottom: 1px solid #DDDDDD !important;*/
}

.strategy-container table tr:nth-child(odd) td {
	background: #EFEFEF;
}

.strategy-container table tr:nth-child(even) td {
	background: #FFFFFF;
}

.strategy-container table th.cell-left,
.strategy-container table td.cell-left {
  text-align: left;
}

.strategy-container table th.cell-right,
.strategy-container table td.cell-right {
  text-align: right;
}

.strategy-container table th.cell-center,
.strategy-container table td.cell-center {
  text-align: center;
}

.strategy-container table th.cell-big,
.strategy-container table td.cell-big {
  color: #000000;
  font-size: 19px;
}

.strategy-container table th.cell-blank,
.strategy-container table td.cell-blank {
  border: 0px;
}

div.button-row {
  margin: 15px 0px;
  text-align: right;
}

div.button-row a {
  margin: 0px 0px 0px 10px;
}

.failureNotification
{
    font-size: 1.0em;
    color: Red;
}

passwordEntry {
     border: 1px solid #CCCCCC;
    color: #454545;
}

