﻿body {
    margin: 0px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
}


.NewMenus {
    display: inherit;
    color: black !important;
    width: 80px;
    height: 21px;
    position: relative;
    box-sizing: border-box;
    overflow: visible;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    text-align: center;
}

.VerticalLine {
    height: 169px;
    left: 471px;
    top: 337px;
    width: 10px;
    z-index: 15;
}


.btn,
label.choose:before {
    /*background: none repeat scroll 0 0 #00B7CD;*/
    /*border: 0 none;*/
    /*color: #FFFFFF;*/
    cursor: pointer;
    padding: 3px 15px;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    background: white none repeat scroll 0 center;
    border: medium none;
    border-radius: 42px;
    box-shadow: 0 0 10px #666464;
    color: black;
    opacity: 0.8;
}

label.choose:before {
    content: 'Choose file';
    padding: 7px 34px;
    position: absolute;
}







.inline li {
    background: #FFF !important;
}

    .inline li:hover {
        /*background: rgba(0, 0, 0, 0) !important;*/
        color: blue !important;
    }


.adjustChkAll {
    margin-left: 3px;
    color: #787878;
}

.margin100 {
    /*padding-left: 120px;*/
    padding-left: 24px;
}

.margin200 {
    /*padding-left: 240px;*/
    padding-left: 24px;
}

.indent200 {
    margin-left: -215px;
}

.indent {
    margin-left: -100px;
}

.rightalign {
    text-align: right;
}

.Font16 {
    font-size: 16px;
}

.LinkButtonStyle {
    float: right;
    color: white;
    font-size: small;
}

.fontColorBlack {
    color: black;
}

.WarningStyle {
    color: #4B546A;
    font-size: small;
}

.spaceInKeysAndSteps {
    margin-top: 13px;
}

.spaceInLblKeysAndSteps {
    margin-top: 20px;
}

.imageStyle {
    display: none;
    color: green;
    font-weight: bold;
    position: static;
}

.styleTopandBottom {
    margin-top: -15px;
    margin-bottom: 10px;
}

.fontBold {
    font-weight: bold;
}

.fontBoldHome {
    font-weight: bolder;
    font-size: 24px;
}

.mastercss {
    float: left;
    width: 100%;
}

.forgotpasswordmarginleft {
    margin-left: -5%;
}

.borderStyle {
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #f8f8f8;
}

.adregismarginleft {
    margin-left: -3%;
}

.chkChoice input {
    margin-right: 5px;
}

.chkChoice td {
    padding-Right: 5px;
}

.leftalignment {
    text-align: left;
    margin-top: -20px;
    margin-left: -2%;
}

.subspopuplabels {
    font-weight: bold;
    font-size: x-large;
}

.subspopuplabelsColor {
    font-weight: bold;
    font-size: x-large;
    color: firebrick;
}

.subspopupText {
    color: black;
}

.height {
    width: 50%;
    height: auto;
}

.width100 {
    width: 100%;
}

.panel-inner-margin {
    margin-left: -7%;
    margin-top: -3%;
}

.divButtonstyle {
    margin-bottom: 10%;
    margin-left: 2%;
}

.styleJustify {
    text-align: justify;
}

@media (max-width:991px) {
    .aHeightWidth {
        height: 50px;
        width: 60px;
    }

    .aHeightWidthAccountProf {
        height: 50px;
        width: 136px;
    }

    .aHeightWidthMyaccount {
        height: 50px;
        width: 90px;
    }
}

@media (max-width:369px) and (min-width: 223px) {
    .divFoot {
        height: 100%;
        background-color: #333333;
        text-align: center;
    }
}

.divFoot {
    background-color: #333333;
    height: 100%;
    text-align: center;
}

.divLabelStyle {
    margin-left: 2%;
}

.divAboutLabelStyle {
    margin-left: 4%;
}

.buttonleftalign {
    margin-left: 2%;
}

.leftalign {
    margin-left: -2%;
}

.rightalign {
    margin-right: -2%;
}

.mrightalign {
    margin-left: 3%;
}

.panel-Rinner-margin {
    margin-left: 5%;
    margin-top: 1%;
}

.panel-Ainner-margin {
    margin-left: 17%;
    margin-top: 3%;
}

.panel-margin {
    border-color: black;
    margin-top: 5%;
    margin-bottom: 20%;
}


.InstitutionListAdjustment {
    width: 100%;
    height: 130px;
    padding: 2px;
    overflow: auto;
    border: 1px solid #e5d4d3;
    margin-left: 10px;
    float: left;
    color: #787878;
}

.HomeBackroundImage {
    background: linear-gradient(rgba(255, 255, 255, 0.38), rgba(0, 0, 0, 0.65)), url("/Images/calculator-loan.png");
    /*background: linear-gradient(rgba(255, 255, 255, 0.38), rgba(0, 0, 0, 0.65)), url("/Images/banner1.png");*/
    /* top, transparent red, faked with gradient */
    /*linear-gradient( rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45) ),*/
    /* bottom, image */
    /*url('/images/banner1.png');*/
    background-size: cover;
    color: white;
}

.home-buttons {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

    .home-buttons:hover {
        background-color: #a43730; /* Green */
        color: white;
    }

.other-buttons {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

    .other-buttons:hover {
        background-color: #a43730; /* Green */
        color: white;
    }

.btn,
label.choose:hover {
    background: #a43730 none repeat scroll 0 center;
    color: white;
}


.master-menus {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.master-menus {
    color: #a43730;
}


.HomeImgBg {
    margin-top: 15px;
}

@media all and (max-width: 1206px) and (min-width: 767px) {
    .HomeImgBg {
        margin-top: 107px;
    }
}

.AddCustPopUp {
    margin-left: 0px;
    margin-top: 49px;
}

@media all and (max-width: 675px) and (min-width: 268px) {
    .AddCustPopUp {
        margin-left: 194px;
        margin-top: 49px;
    }
}

.NewNav {
    margin-top: 51px;
}

@media all and (max-width: 767px) and (min-width: 220px) {
    .NewNav {
        margin-top: 10px;
    }
}

@media all and (max-width: 767px) and (min-width: 220px) {
    .NewNav {
        margin-top: 10px;
    }
}



.InstitutionListAdjustment1 {
    padding: 2px;
    margin-left: 10px;
    float: left;
    border: 1px solid #e5d4d3;
}


.manageNewsletterPublish {
    margin-left: 14px;
}

.manageNewsletterFrequency {
    margin-right: 25px;
}

.manageNewsletterSubject {
    margin-left: 54px;
}

.modalWhole {
    border: 1px solid #f3f3f3;
}

h1 {
    font-size: 24px;
    display: block;
    color: #85312F;
}

.minWidthDropdownSearch {
    min-width: 120px;
}

h2 {
    color: #9b5856;
    font-size: 19px;
    font-weight: normal;
}

.head3 {
    font-size: 17px;
    font-weight: normal;
    font-family: Arial;
}

.manageImageTONewsletter {
    height: 17px;
    margin-left: 175px;
    margin-top: -22px;
    position: absolute;
    width: 17px;
}

.marglefthead {
    margin-left: 8px;
}

.margleft {
    margin-left: 15px;
}

.aHeightWidth {
    height: 50px;
    width: 71px;
}

.logoutstyle {
    height: 44px;
    margin-top: 1px;
    width: 49px;
}

.aHeightWidthAccountProf {
    height: 40px;
    width: 136px;
}

.aHeightWidthMyaccount {
    height: 50px;
    width: 100px;
}

.margileft {
    margin-left: 25px;
}

.margiright {
    margin-right: 25px;
}

.newbord {
    border: 1px solid #e5d4d3;
}

.content {
    text-align: left;
    width: 750px;
    border: solid 5px #CBCAC6;
    background-color: #f9f9f9;
    padding: 20px 20px 40px 20px;
    font-family: Segoe UI, Arial,Verdana,Helvetica,sans-serif;
    font-size: 80%;
    margin: 0 auto;
}

.modalTD, #modalTD {
    border: none;
    line-height: 0.429;
}

.h2PopUp {
    display: block;
    border-bottom: 4px solid #85312f;
    color: #888;
    background-color: #5c5d5e;
    text-align: left;
    font-size: 16px;
}

.popupbottom {
    background-color: #f4f4f4;
}


.marginpopbottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.marginpopbottomtop {
    margin-top: 7px;
}

.ui-datepicker-trigger {
    cursor: pointer;
    margin-left: -17px;
    height: 14px;
}

.removespace {
    margin-top: -25px;
}

.style1 {
    width: 230px;
}

.style2 {
    width: 120px;
}

.errorMessageTable {
    width: 60%;
}

.style3 {
    width: 240px;
}

.style4 {
    width: 130px;
}

.style5 {
    width: 125px;
}

.Highlight {
    color: #85312F;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.CustomerPopUP {
    background-color: white;
    border: 1px solid #777879;
    text-align: Left;
    width: auto;
    height: auto !important;
    margin-top: -60px;
}

@media (max-width: 992px) {
    .CustomerPopUP {
        background-color: white;
        border: 1px solid #777879;
        text-align: Left;
        position: fixed;
        width: auto;
        height: auto !important;
    }
}

.formLabel {
    float: left;
    width: 39%;
}

.bookImage {
    height: 200px;
    width: 150px;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
    overflow: hidden;
}
/*.bookImageAlignment {
    text-align:right;
    /*width:60%;
}*/

@media (min-width: 992px) {
    .storeCheckoutAlignment {
        /*width: 35%;*/
        margin-top: 100px;
        float: left;
    }
}

.quantityStore {
    border-radius: 5px;
    /*height:26px;
width:170px;*/
}

.labelCSS {
    font: 18px Roboto, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
}

.fixedContainer {
    position: fixed;
    width: 600px;
    height: 200px;
    left: 50%;
    top: 0%;
    margin-left: -300px; /*half the width*/
}


.myAccountTableFirstColumn {
    width: 30%;
}

/*.centerButton {
    margin-left: 145px;
}*/

.Yellow {
    background-color: yellow;
}

.button_login {
    border-top-color: #4B546A;
    border-right-color: #4B546A;
    border-bottom-color: #4B546A;
    border-left-color: #4B546A;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: #B7B8B8 0px 1px 0px inset;
    -moz-box-shadow: #B7B8B8 0px 1px 0px inset;
    box-shadow: #B7B8B8 0px 1px 0px inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif,roboto;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #45484d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
    background-image: -webkit-linear-gradient(top, #45484d, #000000);
    background-image: -moz-linear-gradient(top, #45484d, #000000);
    background-image: -ms-linear-gradient(top, #45484d, #000000);
    background-image: -o-linear-gradient(top, #45484d, #000000);
    background-image: linear-gradient(to bottom, #45484d, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
}

.button_login1 {
    border-top-color: #4B546A;
    border-right-color: #4B546A;
    border-bottom-color: #4B546A;
    border-left-color: #4B546A;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: #B7B8B8 0px 1px 0px inset;
    -moz-box-shadow: #B7B8B8 0px 1px 0px inset;
    box-shadow: #B7B8B8 0px 1px 0px inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif,roboto;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #45484d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
    background-image: -webkit-linear-gradient(top, #45484d, #000000);
    background-image: -moz-linear-gradient(top, #45484d, #000000);
    background-image: -ms-linear-gradient(top, #45484d, #000000);
    background-image: -o-linear-gradient(top, #45484d, #000000);
    background-image: linear-gradient(to bottom, #45484d, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
    width: 100%;
    max-width: 200px;
}

.aligh {
    margin-left: auto;
}

.textEntry {
    border: 1px solid #e5d4d3;
    color: black;
    height: 26px;
    font-size: 12px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    padding: 4px;
    max-width: 200px;
}

/*.myAccountTable {
    width: 60%;
    margin-left:55px;
}*/

.formTable {
    width: 85%;
}

.poptab {
    width: 95%;
    margin-left: 10px;
}

.equalWidth {
    width: 50%;
}

.floatRight {
    float: right;
}

.managePageCount {
    margin-top: -10px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-left: -5px;
}

.marginMediumTop {
    margin-top: 5px;
}

.selectedTabClass {
    font-size: 11px;
    color: #000000;
}

table {
    width: 100%;
}

.minWidthTextBox {
    width: 200px;
}

.setSuccessPassword {
    color: green;
    font-size: medium;
    font-weight: bold;
}

.forgotTable {
    width: 80%;
    margin-top: -20px;
}

.customMarginRightForgot {
    margin-right: 40px;
}

.header-center {
    text-align: center;
    color: #85312f;
}

.displayNone {
    display: none;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.fontLarge {
    font-size: large;
}

.floatLeft {
    float: left;
    font-size: 12pt;
}

.handIcon {
    cursor: pointer;
    max-width: 150px;
}

.hasDatepicker {
    vertical-align: calc(0px);
}

.maxWidthDropDownList {
    max-width: 200px;
    padding: 0px;
}

.setFailurePassword {
    color: red;
    font-size: medium;
    font-weight: bold;
}

/* Css for Login and Register UI */
.registerIE {
    border: 2px groove;
    border-color: ThreeDFace;
}

.width67 {
    width: 67%;
}

.width47 {
    width: 47%;
}

.width48 {
    width: 48%;
}

.width53 {
    width: 53%;
}

.alignleft {
    text-align: left;
}

.failureErrorNotification {
    font-size: 12px;
    color: #85312F;
}

.failureErrorNotificationSignUp {
    font-size: 12px;
    color: #a59c31;
}

.failureForgotNotification {
    background-color: #d8d8d8;
    border: none;
    color: #d9817f;
    font-size: 13px;
    padding: 6px;
    width: 60%;
}

.fonthead {
    font-size: 20px;
}

.marginMediumBottom {
    margin-bottom: 12px;
}

/* End Css for Login and Registration UI */
/* Css for welcome UI */
.statusContent, #status {
    background-color: rgb(125, 227, 84);
    border-radius: 5px;
    opacity: 0.7;
    padding: 10px;
    color: white;
}
/* End Css for welcome UI */
/* Css for Social Security Calculator */
/*.SocaialCalculatorTable {
    width: 100%;
    float: left;
    margin-left:40px;
}*/

.SocialCalculatorFirstColumn {
    min-width: 41%;
}

.SocialCalculatorSecondColumn {
    min-width: 59%;
}

/* End CSS for SSC */
/* CSS for Calculation*/
.chart {
    min-width: 500px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
}

.chartRegion {
    padding: 10px;
    border: none;
}

/* End Css for Calculation*/
/* Css for Myaccount Details */
.accountFirstColumn {
    min-width: 18%;
}

.accountSecondColumn {
    min-width: 34%;
}
/* End Css for MyAccount Details */
/* Css for Super Admin */

.filter {
    min-width: 30%;
}

.filterReset {
    min-width: 7%;
}

@media (min-width: 365px) {
    .searchGridView {
        margin-top: 1px;
        height: 25px;
        width: 25px;
        position: relative;
    }
}

@media (max-width: 364px) {
    .searchGridView {
        margin-top: -25px;
        height: 25px;
        width: 25px;
        position: relative;
        margin-left: 153px;
    }
}

.searchText {
    min-width: 33%;
}

.imageSearchIcon {
    position: absolute;
    margin-left: -20px;
    padding-top: 5px;
    height: 15px;
    width: 15px;
}

.popupTableRowA {
    background-color: #FFFFFF;
    padding: 2px 2px 2px 6px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.02em;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    line-height: 20px;
    text-decoration: none;
    margin-left: 0px;
}

.popupTableRowB {
    height: 22px;
    padding: 2px 2px 2px 6px;
    background-color: #F4F4F4;
    letter-spacing: 0.02em;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    line-height: 20px;
    text-decoration: none;
}

.modalBackground {
    background-color: #cccccc;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalInstitutionPopup12 {
    background-color: white;
    border: 1px solid #777879;
    text-align: Left;
    position: fixed;
    /*top: 50%;
    left: 50%;*/
    height: auto;
    width: auto;
}

.modalAdvisorPopup12 {
    background-color: white;
    border: 1px solid #777879;
    text-align: Left;
    position: fixed;
    /*top: 50%;
    left: 50%;*/
    height: auto;
    width: auto;
}

.suspendModalPopup {
    background-color: white;
    border: 1px solid #777879;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 350px;
}

@media (max-width: 1094px) {
    .modalPopupNewsLetterNew {
        background-color: white;
        border: 1px solid #777879;
        text-align: Left;
        position: fixed;
        /*top: 50%;
    left: 50%;*/
        width: auto;
        height: 400px;
    }

    .modalPopup12 {
        background-color: white;
        border: 1px solid #777879;
        text-align: center;
        position: fixed;
        width: 60%;
        height: 350px;
    }

    .modalPopupCustomers {
        background-color: white;
        border: 1px solid #777879;
        text-align: Left;
        position: fixed;
        width: 60%;
    }
}

.modalPopupNewsLetterNew {
    background-color: white;
    border: 1px solid #777879;
    text-align: Left;
    position: fixed;
    /*top: 50%;
    left: 50%;*/
    width: auto;
    height: 400px;
}

.ExplanationModalPopup {
    background-color: #e4e4e4;
    border: 1px solid #777879;
    left: 25%;
    width: 60%;
    height: 70%;
}

.textExplanation {
    margin-left: 25px;
    margin-right: 25px;
    text-align: justify;
}

.modalPopupNewsLetter {
    background-color: white;
    /*width: 500px;
    min-height: 215px;*/
    height: 400px;
    width: 600px;
    overflow-y: hidden;
    border: 1px solid #777879;
}

.suspendInstitutionListAdjustment {
    width: 60%;
    height: 130px;
    overflow: auto;
    border: 1px solid #e5d4d3;
    float: left;
    color: #787878;
}


.modalPopup {
    background-color: white;
    /*width: 500px;
    min-height: 215px;*/
    height: 400px;
    width: 600px;
    overflow-y: hidden;
    border: 1px solid #777879;
    text-align: center;
    /*display:inline-block;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
}

@media (max-width: 320px) {
    .testmodalPopup {
        position: absolute;
        left: 25%;
        top: 3%;
        width: 85%;
        z-index: 1011;
    }
}

.testmodalPopup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1011;
    background-color: #e4e4e4;
}

.advisorpopupheight {
    height: 54%;
}

.institutepopupheight {
    height: 350px;
}

.managegrid {
    border: 1px solid #eae9e8;
    background: #f7f6f6;
}

.modalPopupCustomers {
    background-color: white;
    border: 1px solid #777879;
    text-align: Left;
    position: fixed;
    /*top: 50%;
    left: 50%;*/
    height: auto;
}

.calimg {
    display: inline-block;
}

.textCenter {
    text-align: center;
}

.mGrid {
    width: 100%;
    background-color: #fff;
    margin: 0px 0 10px 0;
    border: solid 0px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        padding: 2px;
        border: solid 0px #c1c1c1;
        color: #717171;
        font-size: 14px;
    }

    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background-color: #8e8d8a;
        border-left: solid 0px #525252;
        font-size: 0.8em;
    }

    .mGrid .pgr {
        background-color: #ffffff;
    }

        .mGrid .pgr table {
            margin: 5px 0;
            width: 5%;
        }

        .mGrid .pgr td {
            font-weight: bold;
            color: #8E8D8A;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #000;
            text-decoration: underline;
            padding: 5px;
            border: 1px solid #8e8d8a;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

.tablePopupFormatRoom {
    width: 300px;
    margin-top: 0px;
}

.tablePopupFormatRoom2 {
    width: 300px;
    margin-top: -4px;
}

.ModalBackground {
    background-color: Black;
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.error {
    background-color: #FFC1C1;
    border: 1px solid red;
    color: black;
}


.errorRegister {
    border: 1px solid red !important;
}

.errorSignUp {
    background-color: #fdf377;
    border: 1px solid yellow;
    color: black;
}
/* End CSS for Super Admin */

a {
    color: #dc413d;
    text-decoration: none;
}

    a:hover {
        color: #16A79D;
        text-decoration: underline;
    }

p,
ul,
ol {
    line-height: 20px;
}

#wrapper, .wrapper {
    background-position: center top;
    background-repeat: repeat-x;
}

#container {
    width: 980px;
    margin: 0px auto;
    text-align: left;
}

#inner {
    padding: 0px 10px;
}

#header {
    height: 178px;
    padding: 0px 30px;
    margin-top: -45px;
}

#header-top {
    height: 44px;
    text-align: right;
}

#social-media {
    padding: 7px 0px;
}

    #social-media a {
        margin: 0px 0px 0px 7px;
        opacity: 0.8;
    }

        #social-media a:hover {
            opacity: 1;
        }

#header-bottom {
    height: 134px;
}

#header-left {
    float: left;
    width: 470px;
    height: 134px;
}

a#link-home {
    display: block;
    width: 470px;
    height: 134px;
    outline: none;
}

#header-right {
    float: right;
    width: 400px;
    height: 134px;
    text-align: right;
}

#top-buttons {
    padding: 50px 0px 0px 0px;
}

    #top-buttons a {
        margin: 0px 0px 0px 10px;
    }

/*#navigation {
    height: 202px;
    /*margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    background: url('/images/header_bg.png') left top repeat-x;
    /*margin-left:-130px;
    width:123%;
}*/

/*#content-inner {
    padding: 0px 30px;
}*/

#content {
    border-left: 1.5px solid #585858;
}

#main {
    border: none;
    min-height: 380px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

#footer {
}

#footer-container {
    /*width: 980px;
    margin: 0px auto;
    text-align: left;*/
}

#footer-inner {
    /*padding: 0px 10px;*/
}

/*#footer-left {
    /*float: left;
    padding-top:15px;
    color:#c5c5c5;
    margin-left:50px;
    font-size:13px;
}*/

#footer-right {
    float: right;
}

#footer-inner a {
    color: #06887E;
    text-decoration: none;
}

    #footer-inner a:hover {
        color: #16A79D;
    }

div.clearfloats {
    display: block;
    clear: both;
}

/* Buttons */

a.button-round {
    display: inline-block;
    height: 35px;
    padding: 0px 25px;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

    a.button-round:hover {
        color: #F0F0D9;
    }

a.button-orange {
    background-color: #F6624A;
}

a.button-green {
    background-color: #16A79D;
}

a.button-black {
    background-color: #3A3A3A;
}

a.button-print {
    padding: 0px 70px 0px 25px;
    background-image: url('/images/icon-print.png');
    background-position: 90% center;
    background-repeat: no-repeat;
}

a.button-compare {
    padding: 0px 70px 0px 25px;
    background-image: url('/images/icon-compare.png');
    background-position: 95% center;
    background-repeat: no-repeat;
}

.managePageCount {
    float: right;
    font-size: 0.8em;
    color: gray;
    font-weight: normal;
}

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

.breadcrumb {
    /*centering*/
    display: inline-block;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag;
}

    .breadcrumb a {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        font-size: 12px;
        line-height: 26px;
        color: white;
        /*need more margin on the left of links to accomodate the numbers*/
        padding: 0 10px 0 60px;
        background: #666;
        background: linear-gradient(#666, #333);
        position: relative;
    }
        /*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
        .breadcrumb a:first-child {
            padding-left: 46px;
            border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
        }

            .breadcrumb a:first-child:before {
                left: 14px;
            }

        .breadcrumb a:last-child {
            border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
            padding-right: 20px;
        }

        /*hover/active styles*/
        .breadcrumb a.active, .breadcrumb a:hover {
            background: #333;
            background: linear-gradient(#333, #000);
        }

            .breadcrumb a.active:after, .breadcrumb a:hover:after {
                background: #333;
                background: linear-gradient(135deg, #333, #000);
            }

        /*adding the arrows for the breadcrumbs using rotated pseudo elements*/
        .breadcrumb a:after {
            content: '';
            position: absolute;
            top: 0;
            right: -16px; /*half of square's length*/
            /*same dimension as the line-height of .breadcrumb a */
            width: 33px;
            height: 26px;
            /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
            transform: scale(0.707) rotate(45deg);
            -webkit-transform: scale(0.707) rotate(45deg);
            /*we need to prevent the arrows from getting buried under the next link*/
            z-index: 1;
            /*background same as links but the gradient will be rotated to compensate with the transform applied*/
            background: #666;
            background: linear-gradient(135deg, #666, #333);
            /*stylish arrow design using box shadow*/
            box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
            /*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
            border-radius: 0 5px 0 50px;
            margin-top: -1px;
        }
        /*we dont need an arrow after the last link*/
        .breadcrumb a:last-child:after {
            content: none;
        }
        /*we will use the :before element to show numbers*/
        .breadcrumb a:before {
            /*some styles now*/
            border-radius: 100%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            margin: 8px 0;
            position: absolute;
            top: 0;
            left: 30px;
            background: #444;
            background: linear-gradient(#444, #222);
            font-weight: bold;
        }

@media (min-width:992px) {
    .downloadbtn {
        margin-top: 12px;
    }
}

@media (max-width:991px) {
    .downloadbtn {
        margin-bottom: 10px;
    }
}

.divbg {
    border: 2px solid #dddddd;
    background-color: #f7f6f6;
    border-radius: 4px;
}

.gridborder {
    border-bottom: 50px #d8d8d8 solid;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
}

.flat a, .flat a:after {
    background: white;
    color: black;
    transition: all 0.5s;
}

    .flat a:before {
        background: white;
        box-shadow: 0 0 0 1px #ccc;
    }

    .flat a:hover, .flat a.active,
    .flat a:hover:after, .flat a.active:after {
        background: #9EEB62;
    }

#plans {
    /*padding-left: 30px;*/
    /*color:white;*/
}

.plan {
    float: left;
    margin: 0 5% 0 0;
    position: relative;
    width: 45%;
    z-index: 3;
}

#container header .plan img {
    left: auto;
    position: absolute;
    right: 20px;
    top: 0;
}

.plan-content {
    /*background: url("../images/subscribe.jpg") repeat-x scroll 0 0 #fff;*/
    background-color: #e4e4e4;
    border-radius: 12px;
    padding: 12px 14px;
    width: 90%;
    height: 90%;
    margin: auto;
}

.plan-contentnew {
    /*background: url("../images/subscribe.jpg") repeat-x scroll 0 0 #fff;*/
    background-color: white;
    border-radius: 8px;
    padding: 12px 14px;
    margin: 1%;
}

.plan h4 {
    color: #29737c;
    font-family: 'LeagueGothicRegular',Helvetica,sans-serif;
    font-size: 3em;
    padding: 0 0 8px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
}

.plan-content ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.plan a {
    background: url("../images/subscribe.jpg") no-repeat scroll right top rgba(0, 0, 0, 0);
    border: 1px solid #4f8813;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-family: 'LeagueGothicRegular',Helvetica,sans-serif;
    font-size: 2.2em;
    height: 24px;
    margin: 8px 0 3px;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 2px 0 #2f6612;
    text-transform: uppercase;
}

#subscription {
    display: none;
    /*font-weight: bold;
    cursor: default;
    border-color: grey;
    border: 1px solid #777879;
    min-height: 300px;
    min-width: 300px;
    float: left;
    background-color: #4cbcd0;
    */
}

.padbot {
    padding-bottom: 30px;
}

#subscriptionAdvisor {
    display: none;
    /*font-weight: bold;
    cursor: default;
    border-color: grey;
    min-height: 300px;
    min-width: 300px;
    float: left;
    background-color: #4cbcd0;*/
}

.imgResize {
    height: 134px;
    /*width:470px;*/
}

.imgResolution {
    color: #888;
    font-size: 12px;
}

.rmm {
    display: block;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0 auto !important;
    text-align: center;
    line-height: 19px !important;
}

    .rmm * {
        -webkit-tap-highlight-color: transparent !important;
        font-family: Arial;
    }

    .rmm a {
        color: #ebebeb;
        text-decoration: none;
    }

    .rmm .rmm-main-list, .rmm .rmm-main-list li {
        margin: 0px;
        padding: 0px;
    }

    .rmm ul {
        display: block;
        width: auto !important;
        margin: 0 auto !important;
        overflow: hidden;
        list-style: none;
    }


        /* sublevel menu - in construction */
        .rmm ul li ul, .rmm ul li ul li, .rmm ul li ul li a {
            display: none !important;
            height: 0px !important;
            width: 0px !important;
        }
    /* */


    .rmm .rmm-main-list li {
        display: inline;
        padding: 0px;
        margin: 0px !important;
    }

.rmm-toggled {
    display: none;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto !important;
}

.rmm-button:hover {
    cursor: pointer;
}

.rmm .rmm-toggled ul {
    display: none;
    margin: 0px !important;
    padding: 0px !important;
}

    .rmm .rmm-toggled ul li {
        display: block;
        margin: 0 auto !important;
    }




/* GRAPHITE STYLE */

.rmm.graphite .rmm-main-list li a {
    display: inline-block;
    padding: 8px 30px 8px 30px;
    margin: 0px -3px 0px -3px;
    font-size: 15px;
    text-shadow: 1px 1px 1px #333333;
    background-color: #444444;
    border-left: 1px solid #555555;
    background-image: url('../rmm-img/graphite-menu-bg.png');
    background-repeat: repeat-x;
}

    .rmm.graphite .rmm-main-list li a:hover {
        background-image: url('../rmm-img/graphite-menu-bg-hover.png');
    }

.rmm.graphite .rmm-main-list li:first-child a {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.rmm.graphite .rmm-main-list li:last-child a {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.rmm.graphite .rmm-toggled {
    width: 95%;
    background-color: #555555;
    min-height: 36px;
    border-radius: 6px;
}

.rmm.graphite .rmm-toggled-controls {
    display: block;
    height: 36px;
    color: white;
    text-align: left;
    position: relative;
    background-image: url('../rmm-img/graphite-menu-bg.png');
    background-repeat: repeat-x;
    border-radius: 6px;
}

.rmm.graphite .rmm-toggled-title {
    position: relative;
    top: 9px;
    left: 15px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.rmm.graphite .rmm-button {
    display: block;
    position: absolute;
    right: 15px;
    top: 8px;
}

    .rmm.graphite .rmm-button span {
        display: block;
        margin-top: 4px;
        height: 2px;
        background: white;
        width: 24px;
    }

.rmm.graphite .rmm-toggled ul li a {
    display: block;
    width: 100%;
    background-color: #555555;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #777777;
    text-shadow: 1px 1px 1px #333333;
}

    .rmm.graphite .rmm-toggled ul li a:active {
        background-color: #444444;
        border-bottom: 1px solid #444444;
        border-top: 1px solid #444444;
    }



/* SAPPHIRE STYLE */

.rmm.sapphire .rmm-main-list li a {
    display: inline-block;
    padding: 8px 30px 8px 30px;
    margin: 0px -3px 0px -3px;
    font-size: 15px;
    text-shadow: 1px 1px 1px #3e587b;
    background-color: #537b9f;
    border-left: 1px solid #3e587b;
    background-image: url('../rmm-img/sapphire-menu-bg.png');
    background-repeat: repeat-x;
}

    .rmm.sapphire .rmm-main-list li a:hover {
        background: #3e597b;
    }

.rmm.sapphire .rmm-main-list li:first-child a {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.rmm.sapphire .rmm-main-list li:last-child a {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.rmm.sapphire .rmm-toggled {
    width: 95%;
    background-color: #537b9f;
    min-height: 36px;
    border-radius: 6px;
}

.rmm.sapphire .rmm-toggled-controls {
    display: block;
    height: 36px;
    color: white;
    text-align: left;
    position: relative;
    background-image: url('../rmm-img/sapphire-menu-bg.png');
    background-repeat: repeat-x;
    border-radius: 5px;
}

.rmm.sapphire .rmm-toggled-title {
    position: relative;
    top: 9px;
    left: 15px;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 1px #3e587b;
}

.rmm.sapphire .rmm-button {
    display: block;
    position: absolute;
    right: 9px;
    top: 7px;
    width: 20px;
    padding: 0px 7px 0px 7px;
    border: 1px solid #3e587b;
    border-radius: 3px;
    background-image: url('../rmm-img/sapphire-menu-bg.png');
    background-position: top;
}

    .rmm.sapphire .rmm-button span {
        display: block;
        margin: 4px 0px 4px 0px;
        height: 2px;
        background: white;
        width: 20px;
    }

.rmm.sapphire .rmm-toggled ul li a {
    display: block;
    width: 100%;
    background-color: #537698;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #3c5779;
    border-top: 1px solid #6883a6;
    text-shadow: 1px 1px 1px #333333;
}

    .rmm.sapphire .rmm-toggled ul li a:active {
        background-color: #3c5779;
        border-bottom: 1px solid #3c5779;
        border-top: 1px solid #3c5779;
    }

.rmm.sapphire .rmm-toggled ul li:first-child a {
    border-top: 1px solid #3c5779 !important;
}


/* MINIMAL STYLE */

.rmm.minimal a {
    color: #333333;
}

    .rmm.minimal a:hover {
        opacity: 0.7;
    }

.rmm.minimal .rmm-main-list li a {
    display: inline-block;
    padding: 8px 30px 8px 30px;
    margin: 0px -3px 0px -3px;
    font-size: 15px;
}

.rmm.minimal .rmm-toggled {
    width: 95%;
    min-height: 36px;
}

.rmm.minimal .rmm-toggled-controls {
    display: block;
    height: 36px;
    color: #333333;
    text-align: left;
    position: relative;
}

.rmm.minimal .rmm-toggled-title {
    position: relative;
    top: 9px;
    left: 9px;
    font-size: 16px;
    color: #33333;
}

.rmm.minimal .rmm-button {
    display: block;
    position: absolute;
    right: 9px;
    top: 7px;
}

    .rmm.minimal .rmm-button span {
        display: block;
        margin: 4px 0px 4px 0px;
        height: 2px;
        background: #333333;
        width: 25px;
    }

.rmm.minimal .rmm-toggled ul li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #dedede;
    color: #333333;
}

.rmm.minimal .rmm-toggled ul li:first-child a {
    border-top: 1px solid #dedede;
}

@media (max-width: 992px) {
    .tablegrid > thead > tr > th,
    .tablegrid > tbody > tr > th,
    .tablegrid > tfoot > tr > th,
    .tablegrid > thead > tr > td,
    .tablegrid > tbody > tr > td,
    .tablegrid > tfoot > tr > td {
        padding: 3px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }
}

@media (min-width: 992px) {
    .tablegrid > thead > tr > th,
    .tablegrid > tbody > tr > th,
    .tablegrid > tfoot > tr > th,
    .tablegrid > thead > tr > td,
    .tablegrid > tbody > tr > td,
    .tablegrid > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }
}

.widthfull {
    width: 100%;
}

.verticalalign {
    vertical-align: middle;
}

.colwhite {
    color: white;
}

.width240 {
    width: 240px !important;
}

.Space {
    margin-right: 3%;
}

.length {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.length1 {
    width: 80%;
    height: 80%;
    margin: auto;
}


.whiteColor {
    color: #FFFFFF;
    font-size: 9px;
    font-family: sans-serif;
}

.textwelcome {
    color: #FFFFFF;
    font-size: 12px;
    font-family: sans-serif,Roboto;
}

.topwatch {
    height: 87px;
    float: left;
}

.horizontalwhiteline {
    background-color: white;
    height: 4px;
}

.horizontalbrownline {
    background-color: #85312f;
    height: 4px;
}

.textFont {
    font-family: sans-serif,Roboto;
}

.menualign:hover {
    background: url(/images/butbg.png) 0% 0% repeat scroll rgba(0, 0, 0, 0);
    /*background-color:white;*/
}

a:hover {
    color: #333333;
}

.marginTop {
    margin-top: 15px;
}

.marginTop25 {
    margin-top: 25px;
}

.homepagetext {
    color: #85312F;
    font-family: sans-serif,Roboto;
}

.padding-top {
    padding-top: 12px;
}

.pagetext {
    text-align: justify;
    text-justify: inter-word;
}

.homepagebuttonlogin {
    margin-top: 30%;
}

.homepageemail {
    color: white;
    font-size: 14px;
}

.font_7 {
    color: #ffffff;
    font: 14px/1.4em arial,"ｍｓ ｐゴシック","ms pgothic","돋움",dotum,helvetica,sans-serif;
}




.topMargin {
    margin-top: 126px !important;
}

@media (min-width: 686px) and (max-width:1253px) {
    .topMargin {
        margin-top: 189px !important;
    }
}


.divBg {
    /*background-image: url('../images/bg_calculater.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
}

@media (min-width: 1280px) {
    .imgPosition {
        height: 58px;
        margin-top: -30px;
        margin-left: 55px;
        position: static;
    }
}

@media (max-width: 765px) {
    .imgdiv {
        margin-top: 40px;
    }
}

@media (max-width: 765px) {
    .imgPosition {
        height: 68px;
        margin-top: -35px;
        margin-left: 40%;
        position: static;
    }
}


.setTopMargin {
    padding-top: 0px;
}


@media (max-width: 567px) {
    .setTopMargin {
        padding-top: 50px;
    }

    .hidelogo {
        display: none;
    }
}

@media (max-width: 1200px) and (min-width: 765px) {
    .imgPosition {
        height: 58px;
        margin-top: -25px;
        margin-left: 35px;
        position: static;
    }
}

@media (min-width: 1200px)and (max-width: 1280px) {
    .imgPosition {
        height: 58px;
        margin-top: -30px;
        margin-left: 55px;
        position: static;
    }
}

.removepaddingleftright {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.text1 {
    color: white;
    font-size: 12px;
    padding: 40px 1px 0px 15px;
}

.textloginhere {
    color: white;
    padding-left: 15px;
    font-size: 13px;
}


.failureErrorNotificationSignIn {
    font-size: 12px;
    color: #fff;
    padding-left: 14px;
}

.divsignin {
    background-color: #85312F;
    height: 100%;
    /*//max-width:195px;*/
}

.divaboutussignin {
    background-color: #85312F;
    height: 760px;
    max-width: 195px;
}

.divfaqssignin {
    background-color: #85312F;
    height: 541px;
    max-width: 195px;
}

.divmediasignin {
    background-color: #85312F;
    height: 250px;
    max-width: 195px;
}

.divstoresignin {
    background-color: #85312F;
    height: 593px;
    max-width: 195px;
}

.cssmenu {
    background: #333;
    list-style: none;
    padding: 0;
    width: 50%;
}

    .cssmenu li {
        font: 90% sans-serif;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .cssmenu a {
        background: #333;
        border-bottom: 1px solid #393939;
        color: #ccc;
        display: block;
        margin: 0;
        padding: 8px 10px;
        text-decoration: none;
        font-weight: bold;
    }

        .cssmenu a:hover {
            background: #2580a2 url("images/hover.gif") left center repeat;
            color: #fff;
            padding-bottom: 8px;
        }

.MailSentPopUpModal {
    background-color: white;
    border: 1px solid #777879;
    text-align: left;
    width: auto;
    height: 110px;
}

.MailSentPopUpModalInstituteAdvisor {
    background-color: white;
    border: 1px solid #777879;
    text-align: left;
    width: auto;
    height: auto;
}



.button_ok_poopup {
    border-top-color: #4B546A;
    border-right-color: #4B546A;
    border-bottom-color: #4B546A;
    border-left-color: #4B546A;
    border-width: 1px;
    border-style: solid;
    -webkit-box-shadow: #B7B8B8 0px 1px 0px inset;
    -moz-box-shadow: #B7B8B8 0px 1px 0px inset;
    box-shadow: #B7B8B8 0px 1px 0px inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif,roboto;
    padding: 4px 12px 4px 12px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    /*margin-left: 180px;*/
    background-color: #45484d;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
    background-image: -webkit-linear-gradient(top, #45484d, #000000);
    background-image: -moz-linear-gradient(top, #45484d, #000000);
    background-image: -ms-linear-gradient(top, #45484d, #000000);
    background-image: -o-linear-gradient(top, #45484d, #000000);
    background-image: linear-gradient(to bottom, #45484d, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
    /*newly added*/
    padding: 4px 38px;
    position: relative;
    left: 36%;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}

.loading {
    font-family: Arial;
    font-size: 10pt;
    border: 5px solid #67CFF5;
    width: 200px;
    height: 100px;
    display: none;
    position: fixed;
    background-color: White;
    z-index: 999;
}

.web_dialog_overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: #000000;*/
    /*background-image: url("Images/Login_BG1.png");*/
    background-image: url("/Images/Laptop Background.png");
    background-size: cover;
    /*opacity: .15;*/
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: block;
}


.web_dialog_overlay_Register {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: #000000;*/
    /*background-image: url("Images/Login_BG1.png");*/
    background-image: url("/Images/Laptop Background.png");
    background-size: cover;
    /*opacity: .15;*/
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: block;
}

.web_dialog_overlay_Pricing {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*background: #000000;*/
    /*background-image: url("Images/Login_BG1.png");*/
    background-image: url("/Images/laptop-background2.png");
    background-size: cover;
    /*opacity: .15;*/
    filter: alpha(opacity=15);
    -moz-opacity: .15;
    z-index: 101;
    display: block;
}


.loginbg_image {
    /*height: 80%;*/
    width: 100%;
}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: windowtext;
    opacity: 0.59;
}

@media (max-width:1336px) {

    #color-overlay {
        height: 119%;
    }
}

#color-overlay_singleUse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 180%;
    background-color: #ffffff;
    opacity: 0.65;
}

#color-overlay_DemoUser {
    background-color: #cac5c5;
    height: 104%;
    left: 0;
    opacity: 0.65;
    position: absolute;
    top: 0;
    width: 100%;
}

#color-overlay_MonthlyAnnualAdvisor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 163%;
    background-color: windowframe;
    opacity: 0.59;
}

@media (max-width: 992px) {
    #color-overlay_singleUse {
        height: 240%;
    }

    #color-overlay_MonthlyAnnualAdvisor {
        height: 240%;
    }
}


.web_dialog {
    display: none;
    position: absolute;
    width: 400px;
    height: 400px;
    /*height:381px;*/
    top: 24%;
    left: 47%;
    margin-left: -175px;
    /*margin-top: -112px;*/
    /*margin-top: -117px;*/
    /*background-color: #4d4d4d;*/
    /*background-color: rgba(05, 00, 01, 0.4) !important;*/
    background-color: #c0c0c0;
    padding: 0px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
    text-decoration-color: white;
    border-radius: 31px;
    padding: 5px;
    opacity: 1;
}

.web_dialog_Single_Use {
    /*display: none;
    position: relative;
    width: 400px;
    height: 945px;
    left: 32%;
    margin-left: -175px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
    text-decoration-color: white;
    padding: 215px 8px 8px;
    opacity: 1;*/
    font-family: Verdana;
    font-size: 10pt;
    height: 100%;
    left: 32%;
    margin-left: 0;
    opacity: 1;
    padding: 0px 8px 46px;
    position: unset;
    text-decoration-color: white;
    width: 95%;
    z-index: 102;
}

.web_dialog_Annual_Advisor {
    /*display: none;
    position: relative;
    width: 400px;
    height: 945px;
    left: 32%;
    margin-left: -175px;
    z-index: 102;
    font-family: Verdana;
    font-size: 10pt;
    text-decoration-color: white;
    padding: 215px 8px 8px;
    opacity: 1;*/
    font-family: Verdana;
    font-size: 10pt;
    height: 100%;
    left: 32%;
    margin-left: 0;
    opacity: 1;
    padding: 0px 8px 46px;
    position: unset;
    text-decoration-color: white;
    width: 99%;
    z-index: 102;
}

.textBoxSingleUse {
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    height: 43px;
    line-height: 19px;
    margin: 8px 0;
    padding: 9px 10px 10px;
    width: 300px;
    border: 1px solid;
}

.btnSingleUse {
    border-radius: 11px;
    box-sizing: content-box;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    height: 43px;
    left: 0;
    line-height: 17px;
    margin: 0;
    position: unset;
    top: 274px;
    width: 213px;
    background-color: #8a2e34;
    border: 2px solid #ffffff;
    box-sizing: border-box !important;
    color: #ffffff;
}

.single_use_div1 {
    background-color: #a9a9a9;
    /*background-position: left top;
    background-repeat: repeat;
    background-size: cover;*/
    border-radius: 0;
    height: 669px;
    opacity: 1;
    width: 386px;
}

.Annual_Monthly_Advisor_div1 {
    background-color: #a9a9a9;
    /*background-position: left top;
    background-repeat: repeat;
    background-size: cover;*/
    border-radius: 0;
    height: 780px;
    opacity: 1;
    width: 386px;
}



@media (max-width:604px) {
    .single_use_div1 {
        margin-left: 0px;
    }
}



.login-symbols {
    width: 270px;
    margin-left: 228px;
    margin-top: 10px;
}

@media (max-width:991px) {
    .login-symbols {
        margin-left: 22px;
        margin-top: -17px;
    }
}

.login-symbols_register {
    width: 277px;
    margin-left: 40%;
    margin-top: 10px;
}

@media (max-width:464px) {
    .login-symbols_register {
        margin-left: 0px;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    opacity: 1;
    font-size: 13px;
}

::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
    font-size: 13px;
}

.login-textboxes {
    font-size: 16px;
    font-weight: 100;
    height: 39px;
    width: 300px;
    /*background-color: #4d4d4d;*/
    outline: none;
    outline-style: none;
    /*border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #ffffff 2px;*/
    padding: 2px 7px;
    background-color: #ffffff;
    border-color: #555555;
    color: #000000;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 5px;
}

.login-buttons {
    /*border: medium none;
    border-radius: 0px;
    box-shadow: 0 0 10px #666464 inset;
    color: white;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8%;
    outline: medium none;
    padding: 3%;
    transition: all 0.5s ease 0s;
    width: 85%;
    background: #e65c00;
    margin-top: 9px;*/
    border-radius: 10px;
    box-sizing: content-box;
    /*font-family: Open Sans;*/
    font-size: 16px;
    font-weight: 400;
    height: 43px;
    left: 42.5px;
    line-height: 17px;
    margin: 0;
    background-color: #8a2e34;
    border: 2px solid #ffffff;
    color: #ffffff;
    top: 129px;
    transition: all 0.5s ease 0s;
    width: 213px;
    margin-left: 36px;
}


.home-buttons {
    border: medium none;
    border-radius: 42px;
    box-shadow: 0 0 10px #666464;
    color: black;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8%;
    outline: medium none;
    padding: 3%;
    transition: all 0.5s ease 0s;
    width: 85%;
    background: white none repeat scroll 0 center;
    margin-top: 9px;
    opacity: 0.8;
}


.other-buttons {
    border: medium none;
    border-radius: 42px;
    box-shadow: 0 0 10px #666464;
    color: black;
    cursor: pointer;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    margin-bottom: 2%;
    outline: medium none;
    transition: all 0.5s ease 0s;
    background: white none repeat scroll 0 center;
    opacity: 0.8;
}

.login-forgetpwd {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-size: small;
}

/*.div_social_login {
    display: none;
    position: absolute;
    width: 353px;
    height: 65px;
    border-bottom: none;
    border-top: 1px solid;
    border-right: none;
    border-left: none;
    border-color: white;
    margin-right: 0px;
    margin-left: -175px;
    margin-top: -67px;
    background-color: black;
    padding: 0px;
    z-index: 102;
    font-family: Verdana;
    opacity: .4;
    top: 80%;
    left: 50%;
}*/

.div_social_login {
    border-bottom: none;
    border-top: 1px solid;
    border-right: none;
    border-left: none;
    border-color: white;
    margin-top: 0px;
}

.web_dialog_title {
    border-bottom: solid 2px #336699;
    background-color: #336699;
    padding: 4px;
    color: White;
    font-weight: bold;
}

    .web_dialog_title a {
        color: White;
        text-decoration: none;
    }

.align_right {
    text-align: right;
}

.loading_centre_div {
    /*Old*/
    /* width: 220px;*/
    width: 500px;
    height: 300px;
    background-color: white;
    border: 2px solid #939393;
    margin-left: -190px;
    margin-top: -100px;
    opacity: initial;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    z-index: 102;
    border-radius: 15px;
    padding: 0px;
}

.email-form-messagebox-wrapper {
    border: 1px solid #e22828;
    border-radius: 5px;
    display: none;
    left: 0;
    margin-top: 7px;
    position: absolute;
    right: -260px;
    width: 254px;
    z-index: 997;
}

.RegistrationErrorWindow {
    border: 1px solid #e22828;
    border-radius: 5px;
    display: none;
    left: 0;
    margin-top: 7px;
    /*position: absolute;*/
    right: -260px;
    width: 215px;
    z-index: 997;
}

.email-form-messagebox-header {
    background-color: #e12627;
    color: #fff;
    padding: 2px 10px;
    text-align: left;
}

.email-form-messagebox-wrapper .email-form-messagebox .RegistrationErrorWindow {
    background-color: #ffe9e9;
    border-radius: 0 0 5px 5px;
    color: #e12627;
    padding: 10px;
    text-align: left;
}

.email-form-messagebox-wrapper .email-form-messagebox li label.form-validation-error .RegistrationErrorWindow {
    color: #e12627;
    font-weight: normal;
}

.login_lables {
    font-family: Verdana;
    font-weight: bold;
    margin-left: 20px;
}

@media (max-width:811px) {
    .email-form-messagebox-wrapper {
        top: 388px;
        left: 81px;
    }
}

.login_titles {
    font-family: Calibri;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    text-align: center;
}

.AutoHeightWidth {
    height: auto;
    width: auto;
}

.PricingHeading {
    /*width: 960px;
    height: 150px;
    background-color: aqua;*/
    width: 960px;
    left: 0;
    right: 0;
    height: 150px;
    position: absolute;
    margin: 0 auto;
    background-color: #dbd7d7;
    opacity: 1;
}

.dataContent {
    margin-left: 20px;
    margin-right: 20px;
}

body {
    margin: 0px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #FFFFFF;
}

.page-element .btn,
.page-element .contents,
.page-element.widget-form form,
.page-element.widget-form form input,
.page-element.widget-form form textarea,
.page-element.widget-form form select,
.page-element.widget-form form label {
    font-family: Open Sans;
    font-weight: inherit;
}

.page-element.widget-headline .contents h1,
.page-element.widget-headline .contents h2,
.page-element.widget-headline .contents h3,
.page-element.widget-headline .contents h4,
.page-element.widget-headline .contents h5,
.page-element.widget-headline .contents h6 {
    font-family: Open Sans;
    font-weight: inherit;
}

[id^=___plusone] {
    width: 51px !important;
}

div.social.lines [id^=___plusone] {
    width: 62px !important;
}

div.social.lines span[class^=IN-widget] {
    min-width: 70px !important;
}

div.social.buttons [id^=___plusone] {
    width: 36px !important;
}

div.social.buttons div[class^=fb-like] {
    width: 58px !important;
}

div.social.tiles [id^=___plusone] {
    height: 63px !important;
    margin-top: 2px !important;
}

div.social.tiles .fb-like iframe {
    margin-top: 1px !important;
}

.widget-testimonial.style-1 .contents div.testimonial-text {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .notification > .notification-inner {
        width: auto;
        position: fixed;
        top: 40%;
        left: 1em !important;
        right: 1em !important;
        font-size: 24px;
    }
}

.page.page2.mobile .page-block {
    width: 600px;
}

/* Safari only fix */
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    .widget-form .select-outer select {
        padding-left: 10px;
    }
}

.widget-form.mobile-form .select-outer select {
    padding-left: 10px;
}


html {
    height: 100%;
}

body {
    background-color: #ffffff;
    background-position: top left;
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.page .page-block .block-inner {
    background-color: transparent;
}

#element-1 {
    height: 90px;
    width: 402px;
    left: 127px;
    top: 10px;
    z-index: 3;
}

    #element-1 p, #element-1 ul, #element-1 ol, #element-1 h1 {
        font-size: 32px;
        color: rgb(255, 255, 255);
        line-height: 45px;
        text-align: left;
    }

#element-2 {
    height: 22px;
    width: 56px;
    left: 533px;
    top: 89px;
    z-index: 4;
}

    #element-2 p, #element-2 ul, #element-2 ol, #element-2 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: left;
    }

#element-3 {
    height: 22px;
    width: 55px;
    left: 604px;
    top: 89px;
    z-index: 5;
}

    #element-3 p, #element-3 ul, #element-3 ol, #element-3 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: left;
    }

#element-4 {
    height: 22px;
    width: 45px;
    left: 676px;
    top: 89px;
    z-index: 6;
}

    #element-4 p, #element-4 ul, #element-4 ol, #element-4 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: left;
    }

#element-7 {
    height: 22px;
    width: 79px;
    left: 807px;
    top: 89px;
    z-index: 7;
}

    #element-7 p, #element-7 ul, #element-7 ol, #element-7 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: left;
    }

#element-8 {
    height: 22px;
    width: 79px;
    left: 880px;
    top: 89px;
    z-index: 8;
}

    #element-8 p, #element-8 ul, #element-8 ol, #element-8 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: left;
    }

#element-9 {
    height: 22px;
    width: 58px;
    left: 734px;
    top: 89px;
    z-index: 9;
}

    #element-9 p, #element-9 ul, #element-9 ol, #element-9 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: left;
    }

#element-10 {
    height: 120px;
    width: 117px;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#element-11 {
    height: 24px;
    width: 169px;
    left: 774px;
    top: 19px;
    z-index: 11;
}

#element-12 {
    height: 12px;
    width: 377px;
    left: 123px;
    top: 46px;
    z-index: 12;
}

#element-16 {
    height: 656px;
    width: 873px;
    left: 51px;
    top: 59px;
    z-index: 13;
}

#element-20 {
    height: 657px;
    width: 282px;
    left: 52px;
    top: 59px;
    z-index: 14;
}

#element-21 {
    height: 657px;
    width: 299px;
    left: 331px;
    top: 59px;
    z-index: 15;
}

#element-23 {
    height: 57px;
    width: 347px;
    left: 307px;
    top: 19px;
    z-index: 17;
}

    #element-23 p, #element-23 ul, #element-23 ol, #element-23 h1 {
        font-size: 41px;
        color: rgb(0, 0, 0);
        line-height: 57px;
        text-align: left;
    }

#element-24 {
    height: 56px;
    width: 317px;
    left: 312px;
    top: 87px;
    z-index: 18;
}

    #element-24 p, #element-24 ul, #element-24 ol, #element-24 h1 {
        font-size: 20px;
        color: rgb(0, 0, 0);
        line-height: 28px;
        text-align: center;
    }

#element-25 {
    height: 50px;
    width: 193px;
    left: 96px;
    top: 75px;
    z-index: 19;
}

    #element-25 p, #element-25 ul, #element-25 ol, #element-25 h1 {
        font-size: 36px;
        color: rgb(0, 0, 0);
        line-height: 50px;
        text-align: left;
    }

#element-26 {
    height: 50px;
    width: 216px;
    left: 375px;
    top: 82px;
    z-index: 20;
}

    #element-26 p, #element-26 ul, #element-26 ol, #element-26 h1 {
        font-size: 36px;
        color: rgb(0, 0, 0);
        line-height: 50px;
        text-align: left;
    }

#element-27 {
    height: 50px;
    width: 186px;
    left: 689px;
    top: 82px;
    z-index: 21;
}

    #element-27 p, #element-27 ul, #element-27 ol, #element-27 h1 {
        font-size: 36px;
        color: rgb(0, 0, 0);
        line-height: 50px;
        text-align: left;
    }

#element-29 {
    height: 44px;
    width: 256px;
    left: 64px;
    top: 138px;
    z-index: 22;
}

    #element-29 p, #element-29 ul, #element-29 ol, #element-29 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: center;
    }

#element-30 {
    height: 22px;
    width: 256px;
    left: 363px;
    top: 143px;
    z-index: 23;
}

    #element-30 p, #element-30 ul, #element-30 ol, #element-30 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: left;
    }

#element-31 {
    height: 22px;
    width: 256px;
    left: 647px;
    top: 144px;
    z-index: 24;
}

    #element-31 p, #element-31 ul, #element-31 ol, #element-31 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: center;
    }

#element-32 {
    height: 162px;
    width: 241px;
    left: 73px;
    top: 368px;
    z-index: 25;
}

    #element-32 p, #element-32 ul, #element-32 ol, #element-32 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: left;
    }

#element-33 {
    height: 50px;
    width: 82px;
    left: 151px;
    top: 189px;
    z-index: 26;
}

    #element-33 p, #element-33 ul, #element-33 ol, #element-33 h1 {
        font-size: 36px;
        color: rgb(0, 0, 0);
        line-height: 50px;
        text-align: left;
    }

#element-34 {
    height: 22px;
    width: 158px;
    left: 115px;
    top: 251px;
    z-index: 27;
}

    #element-34 p, #element-34 ul, #element-34 ol, #element-34 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: left;
    }

#element-35 {
    height: 12px;
    width: 239px;
    left: 73px;
    top: 279px;
    z-index: 28;
}

#element-36 {
    height: 12px;
    width: 239px;
    left: 656px;
    top: 274px;
    z-index: 29;
}

#element-37 {
    height: 12px;
    width: 239px;
    left: 364px;
    top: 274px;
    z-index: 30;
}

#element-38 {
    height: 50px;
    width: 218px;
    left: 378px;
    top: 188px;
    z-index: 31;
}

    #element-38 p, #element-38 ul, #element-38 ol, #element-38 h1 {
        font-size: 36px;
        color: rgb(0, 0, 0);
        line-height: 50px;
        text-align: left;
    }

#element-40 {
    height: 22px;
    width: 76px;
    left: 377px;
    top: 249px;
    z-index: 32;
}

    #element-40 p, #element-40 ul, #element-40 ol, #element-40 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: left;
    }

#element-41 {
    height: 22px;
    width: 76px;
    left: 513px;
    top: 249px;
    z-index: 33;
}

    #element-41 p, #element-41 ul, #element-41 ol, #element-41 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: left;
    }

#element-42 {
    height: 73px;
    width: 10px;
    left: 469px;
    top: 194px;
    z-index: 34;
}

#element-46 {
    height: 314px;
    width: 271px;
    left: 353px;
    top: 368px;
    z-index: 36;
}

    #element-46 p, #element-46 ul, #element-46 ol, #element-46 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: left;
    }

#element-47 {
    height: 314px;
    width: 271px;
    left: 642px;
    top: 368px;
    z-index: 37;
}

    #element-47 p, #element-47 ul, #element-47 ol, #element-47 h1 {
        font-size: 16px;
        color: rgb(0, 0, 0);
        line-height: 22px;
        text-align: left;
    }

#element-48 {
    height: 40px;
    width: 140px;
    left: 115px;
    top: 310px;
    z-index: 38;
}

#element-49 {
    height: 40px;
    width: 140px;
    left: 403px;
    top: 306px;
    z-index: 39;
}

#element-50 {
    height: 40px;
    width: 140px;
    left: 700px;
    top: 306px;
    z-index: 40;
}

#element-56 {
    height: 50px;
    width: 406px;
    left: 277px;
    top: 42px;
    z-index: 41;
}

    #element-56 p, #element-56 ul, #element-56 ol, #element-56 h1 {
        font-size: 36px;
        color: rgb(255, 255, 255);
        line-height: 50px;
        text-align: left;
    }

#element-57 {
    height: 44px;
    width: 485px;
    left: 246px;
    top: 81px;
    z-index: 42;
}

    #element-57 p, #element-57 ul, #element-57 ol, #element-57 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
        text-align: left;
    }

#element-58 {
    height: 22px;
    width: 79px;
    left: 620px;
    top: 22px;
    z-index: 43;
}

    #element-58 p, #element-58 ul, #element-58 ol, #element-58 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
    }

#element-59 {
    height: 22px;
    width: 79px;
    left: 547px;
    top: 22px;
    z-index: 44;
}

    #element-59 p, #element-59 ul, #element-59 ol, #element-59 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
    }

#element-60 {
    height: 22px;
    width: 56px;
    left: 273px;
    top: 22px;
    z-index: 45;
}

    #element-60 p, #element-60 ul, #element-60 ol, #element-60 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
    }

#element-61 {
    height: 22px;
    width: 55px;
    left: 344px;
    top: 22px;
    z-index: 46;
}

    #element-61 p, #element-61 ul, #element-61 ol, #element-61 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
    }

#element-62 {
    height: 22px;
    width: 45px;
    left: 416px;
    top: 22px;
    z-index: 47;
}

    #element-62 p, #element-62 ul, #element-62 ol, #element-62 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
    }

#element-63 {
    height: 22px;
    width: 58px;
    left: 474px;
    top: 22px;
    z-index: 48;
}

    #element-63 p, #element-63 ul, #element-63 ol, #element-63 h1 {
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 22px;
    }

#element-65 {
    height: 84px;
    width: 178px;
    left: 681px;
    top: 183px;
    z-index: 52;
}

    #element-65 p, #element-65 ul, #element-65 ol, #element-65 h1 {
        font-size: 30px;
        color: rgb(0, 0, 0);
        line-height: 42px;
        text-align: center;
    }


#page_block_header {
    height: 120px;
}

    #page_block_header .border-holder {
        background-image: none;
        background-color: #6a1717;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 960px;
        margin: 0 auto;
        border-width: 0px;
        height: 120px;
        /* */
    }

    #page_block_header .color-overlay {
    }

    #page_block_header .block-inner {
        margin-top: 0px;
        margin-left: 0px;
    }


#page-block-fgdptfui1960ghr9zjsrio1or {
    height: 174px;
}

    #page-block-fgdptfui1960ghr9zjsrio1or .border-holder {
        background-image: url("//storage.googleapis.com/instapage-user-media/2e6aa360/5644148-0-Claim-Social-Securit.jpg"), url("//storage.googleapis.com/instapage-thumbnails/2e6aa360/3732a922/1469736928-5644148-ghost-Claim-Social-Securit.jpg");
        background-color: #c1c1c1;
        background-repeat: repeat;
        background-position: center bottom;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 960px;
        margin: 0 auto;
        border-width: 0px;
        height: 174px;
        /* */
    }

    #page-block-fgdptfui1960ghr9zjsrio1or .color-overlay {
        width: 960px;
        left: 0;
        right: 0;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: #dbd7d7;
        opacity: 1;
    }

    #page-block-fgdptfui1960ghr9zjsrio1or .block-inner {
        margin-top: 0px;
        margin-left: 0px;
    }


#page_block_footer {
    height: 758px;
}

    #page_block_footer .border-holder {
        background-image: none;
        background-color: transparent;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: auto;
        border-width: 0;
        border-top-width: 0px;
        border-bottom-width: 0px;
        height: 758px;
        /* */
    }

    #page_block_footer .color-overlay {
    }

    #page_block_footer .block-inner {
        margin-top: 0px;
    }


#page-block-e1s9z8ij8gh7pnybsl717cik9 {
    height: 202px;
}

    #page-block-e1s9z8ij8gh7pnybsl717cik9 .border-holder {
        background-image: none;
        background-color: #313131;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 960px;
        margin: 0 auto;
        border-width: 0px;
        height: 202px;
        /* */
    }

    #page-block-e1s9z8ij8gh7pnybsl717cik9 .color-overlay {
        width: 960px;
        left: 0;
        right: 0;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-e1s9z8ij8gh7pnybsl717cik9 .block-inner {
        margin-top: 0px;
        margin-left: 0px;
    }


#page-block-c3tspk153ny2pk2wqeahv9529 {
    height: 156px;
}

    #page-block-c3tspk153ny2pk2wqeahv9529 .border-holder {
        background-image: none;
        background-color: #000000;
        background-repeat: repeat;
        background-position: top left;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        width: 960px;
        margin: 0 auto;
        border-width: 0px;
        height: 156px;
        /* */
    }

    #page-block-c3tspk153ny2pk2wqeahv9529 .color-overlay {
        width: 960px;
        left: 0;
        right: 0;
        height: 100%;
        position: absolute;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        opacity: 0.5;
    }

    #page-block-c3tspk153ny2pk2wqeahv9529 .block-inner {
        margin-top: 0px;
        margin-left: 0px;
    }

@media screen and (min-width: 621px) and (-webkit-max-device-pixel-ratio: 1.5), screen and (min-width: 1000px) and (-webkit-max-device-pixel-ratio: 1.5) {
    .new_mobile .page.page2.mobile .block-inner {
        width: 960px;
    }
}

#element-50 .dynamic-button {
    background-color: #680101;
    color: #ffffff;
    box-sizing: border-box;
    border: 2px solid #000000;
}

    #element-50 .dynamic-button:active {
    }

    #element-50 .dynamic-button:hover {
        background-color: #188c44;
    }


#element-50 .dynamic-button, #element-50 .image-button {
    width: 140px;
    height: 40px;
    z-index: 40;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: Open Sans;
    border-radius: 5px;
}



/*from google api*/
.page-block {
    position: relative;
}

.border-holder {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.page-element {
    position: absolute;
    margin-left: 100px;
}

.submit-button {
    width: 242px;
}

.btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 13px/100% Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
    padding: .5em 1em .6em;
    -webkit-border-radius: .35em;
    -moz-border-radius: .35em;
    border-radius: .35em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.dynamic-button {
    background-color: #680101;
    color: #ffffff;
    box-sizing: border-box;
    border: 2px solid #000000;
}

    .dynamic-button:hover {
        background-color: #188c44;
    }

.dynamic-button {
    width: 140px;
    height: 40px;
    z-index: 40;
    line-height: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: Open Sans;
    border-radius: 5px;
}

.notification {
    display: none;
    position: relative;
    z-index: 100998;
}

.notification-overlay {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

.notification-inner {
    color: #fff;
    font-size: 50px;
    left: 20%;
    line-height: 150%;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 700px;
    z-index: 999;
}

.notification .loading {
    display: none;
    height: 40px;
    width: 40px;
}

.page-row {
    display: table-row;
    height: 3px;
    background-color: black;
}

.CustomerPanel {
    width: 60%;
    overflow: auto;
    position: fixed;
    z-index: 100001;
    top: 78.5px;
    left: 20%;
    background-color: white;
}
.wrap { 
    white-space: normal;
    width: 100px; 
}