#navigation ul ul {
  display: none;
}

#navigation ul li:hover > ul {
  display: block;
}

#navigation ul {
  /*display: inline-table;*/
  position: relative;
  /*margin: 0px;*/
  /*padding: 0px;*/
  list-style: none;
  /*background: url('/images/menu_bg.png') left top repeat-x;*/
  float:left;
  width:94.8%;
  padding-left:140px;
  margin-left:60px;
}

#navigation ul:after {
  content: "";
  clear: both;
  display: block;
}

#navigation ul li {
  float: left;
  margin: 0px;
  padding-left: 15px;
  padding-right:15px;
}

#navigation ul li a {
  display: block;
  height: 15px;
  padding: 0px 20px;
  color: #5E5E5E;
  font-size: 15px;
  line-height: 42px;
  text-decoration: none;
  white-space: nowrap;
  font-weight:bold;
}

#navigation ul li a:hover {
  color: #5E5E5E;
}

#navigation ul li a.current {
  background: url('/images/navigation-current.jpg') center bottom no-repeat;
}

#navigation ul li a span {
}

#navigation ul li span.divider {
  display: block;
  width: 1px;
  height: 44px;
}

#navigation ul ul {
  position: absolute;
  top: 100%;
  background: #504E42;
  border-radius: 0px;
  z-index: 99999;
}

#navigation ul ul li {
  float: none;
  position: relative;
  border-bottom: 1px solid #665D4C;
}

#navigation ul ul li a {
  display: block;
  height: 30px;
  padding: 0px 20px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}

#navigation ul ul li:hover {
  background: #665D4C;
}

#navigation ul ul li a:hover {
  background: #665D4C;
}

#navigation ul ul ul {
  position: absolute;
  left: 100%;
  top: 0px;
}

